.heading {
  text-align: center;
  color: green;
}

.content {
  overflow-y: scroll;
  height: 2500px;
}

.scroll-button {
  position: fixed;
  width: auto;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  height: 20px;
  font-size: 3rem;
  z-index: 2;
  cursor: pointer;
  color: #a892fe;
  border: none;
  background: none;
  padding: 0;
  bottom: calc(40px + 5vh);
  animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  100% {
    transform: translateX(-50%) translateY(-10px);
  }
}

.arrow-up-icon {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.arrow-up-icon.visible {
  opacity: 1;
}
